body {
  width: 100%; 
  height: 100%; 
  margin-left:0;
  background-color:#139dd9; 
}
/*---Zero margin by default for printed poster ---*/
@page {
  margin: 0;
}
#body-container {
  /*background-color:#139dd9!important; */
}
/*Headder element */
#pic-head{
  width: 100%;
  background-color:#139dd9!important;
  padding:40px; 

}

#pic-head h1 {
  font-size: 100px!important;
  color:#fefefe!important;
  font-weight: bold;
  width:900px;
}
#pic-head h3 {
  font-size: 50px!important;
  color:#fefefe!important;
  
}

#pic-body-upper{
  width: 100%; 
  background-color:#ecf9ff!important;
  padding-bottom: 20px;

}
/*Information table - second element*/
#first-table{
  
  
  margin-left: 10px;
  border-collapse: separate;
  border-spacing: 90px 0;

  
}
#first-table th {
  color:#00688f!important;
  font-size: 25px;
  max-width:250px;
  padding:10px;
  text-align: left;
}


#first-table td{
  color:#00688f!important;
  font-size: 18px;
  max-width:300px;
  
  text-align: left;
}
/* Break line - third element */
hr {
  height:0px;
  margin-bottom: 0px;
  margin-top:-5px;
  border-top: 3px solid #00688f;
  margin-left:50px;   
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  max-width:1300px;
}
/*Second information table - forth element*/
#basic-table th {
  
  font-size: 35px;
  color:#00688f!important;
  border-bottom: 3px solid #00688f;   
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  padding:10px;
  padding-left: 0;
  text-align: center;
  
}

#basic-table td {
  color:#00688f!important;
  padding:20px;
}

#basic-table {
  width:1100px;
  
  margin-left: 50px;
  font-size: 30px;
  color:#139dd9 !important;
  
}

.no-margin{
  margin-top:-30px;
  margin-left:0px;
  margin-right:0px;
}
/*General rule for all table body cells. fifth element*/
td {
  padding: 5px;
  text-align: center;
}
/*User message - sixth element*/
#message {
  font-size: 25px;
  color:#006b95 !important;
}

#message-div {
  
  width:1100px;
  height:80px;
  margin-left: 50px;
  /*padding-bottom:4%;*/
}
/*Last section including Princh logo and user logo*/
#bottom-section{
  position: relative;
  background-color:#139dd9!important;
  height:153px; 
  width:100%;
}
#bottom-pic {
  width:20%;
  left: 870px;
  top: 25px;
  margin-bottom:0px;
  position: absolute;

}
#user-pic {
  position: absolute;
  top: 35px;
  left: 50px;
  
}
.modal {
  display: none;
  padding-bottom: 500px;
}
#myModal{
  display: none;
  padding-bottom: 500px;
}
.modal-content {
  display: none;
}
#printer-id{
  font-size:65px;
  line-height:0px;
  letter-spacing: 7px;
  font-weight: 700;
  text-align: center;
}

